@font-face {
  font-family: againts;
  src: url('fonts/againts.otf');
}


//customisation
html {
  height: 100%;
}

body {
  height: 100%;
  margin-bottom: 50px;
}

h1 {
    color: $brand-secondary;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}
a {
  color: $brand-secondary;
}


.hero-unit {
  background: url(../images/background2.jpg) no-repeat center top;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //margin: 20px 0;
}

.navbar {
  margin-bottom: 0;
}

.header-image {
  width: 100%;
  height: auto;
}

.header {
  padding: 40% 20%;
}

.centre {
  text-align: center;
}

.list-head {
  color: $brand-primary;
}

.btn {
  margin: 10px;
  border-style: solid;
  border-color: $brand-secondary;
}

.fa {
  color: $brand-secondary;
}

#map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
}

.sponsor {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.yield{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: $brand-primary;
  color: grey;
  .fa {
    color:grey;
  }
  font-size: floor(($font-size-base * .8));
}

//panel height
@media(min-width:758px) {
  .flex, .flex > div[class*='col-'] {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex:1 0 auto;
  }

  .list-group {
    display: flex;
    flex-direction:column;
    align-content:stretch;
  }

  .panel-flex {
    display: flex;
    flex-grow: 1;
  }

  .flex-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-fa {
    order: 2;
  }

  .contact-text {
    order: 1;
  }

}

@media(max-width:758px) {
  .header {
    padding: 40% 10%;
  }

}

@media(min-width:1200px) {
  .header {
    padding: 20% 20%;
  }
}

@media(max-width:480px){
  .footer{
    height: 75px;
  }
}
