@charset "utf-8";
@import "normalize";

//variable overrides
//brand colors
$brand-primary:           #273f03;
$brand-secondary:         #bdcfe3;
//$body-bg:                 transparent !default;
//text
$text-color:              $brand-primary;
$font-size-base:          20px;
$font-family-sans-serif:  "Open sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
$headings-font-family:    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
//headings
$font-size-h1:            floor(($font-size-base * 5));
$font-size-h2:            floor(($font-size-base * 2));

//navbar
$navbar-inverse-color:                      $brand-secondary;
$navbar-inverse-bg:                         $brand-primary;
$navbar-inverse-border:                     darken($brand-primary, 10%);
$navbar-inverse-link-color:                 $brand-secondary;
$navbar-inverse-link-hover-color:           darken($brand-secondary, 10%);
$navbar-inverse-link-hover-bg:              transparent;
$navbar-inverse-link-active-color:          $brand-secondary;
$navbar-inverse-link-active-bg:             darken($brand-primary, 5%);
$navbar-inverse-brand-hover-color:          $navbar-inverse-link-hover-color;

//panels
$panel-primary-text:    $brand-secondary;

//customisation
html, body {
  height: 100%;
}

h1 {
    color: $brand-secondary;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}


.hero-unit {
  background: url(../images/background2.jpg) no-repeat center top fixed;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 20px 0;
}

.header {
  color: $brand-secondary;
  position: absolute;
  background: rgba(0, 0, 0, .6);
  padding: 30px 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
}


@import 'bootstrap';

/* middleman stuffs
body {
  background: #ECC561;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.logo img {
  height: 18.75em;
  margin-top: 6em;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.doc {
  margin: 3em 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
*/
