
</br>

<div id="info" class="well">
  <h2>About <span style="color:#FC064F">#RailsCampAdl</span></h2>
  <p>
    Rails Camp is a full weekend retreat for people interested in
    web development to gather and be awesome together.
    People attend for a variety of reasons:
    socialising, hacking, learning, teaching, drinking, gaming, and more.
    Though there is a focus on Ruby,
    we welcome anyone interested in programming or web technologies to join us.
  </p>

  <div class="row flex">
    <div class="col-sm-3">
      <ul class="list-group">
        <h4 class="list-group-item centre list-head">Friday</h4>
        <li class="list-group-item panel-flex centre">
          Buses to campsite, welcome talk, dinner, socialising
        </li>
      </ul>
    </div><!-- /.col-sm-3 -->

    <div class="col-sm-3">
      <ul class="list-group">
        <h4 class="list-group-item centre list-head">Saturday</h4>
        <li class="list-group-item centre panel-flex">
          Talks, hacking, socialising
        </li>
      </ul>
    </div><!-- /.col-sm-3 -->

    <div class="col-sm-3">
      <ul class="list-group">
        <h4 class="list-group-item centre list-head">Sunday</h4>
        <li class="list-group-item centre panel-flex">
          Talks, Ruby Australia meeting, hacking, socialising, demos
        </li>
      </ul>
    </div><!-- /.col-sm-3 -->

      <div class="col-sm-3">
        <ul class="list-group">
          <h4 class="list-group-item centre list-head">Monday</h4>
          <li class="list-group-item centre panel-flex">
            Buses to CBD and airport, optional lunch
          </li>
        </ul>
    </div><!-- /.col-sm-3 -->
  </div>

  <div class="row flex">
    <div class="col-sm-5 flex-div contact-fa">
      <div id="map" class="img-rounded"></div>
    </div>
    <div class="col-sm-1 flex-div contact-text">
    </div>
    <div class="col-sm-6 flex-div contact-text">
      <p>
        This camp will be held at
        Mylor Adventure Camp in the stunning Adelaide Hills
        from the 8th to the 11th of July.
        </br>
        </br>
        To coordinate with our buses, we suggest you land no later than 1pm
        Friday and leave Adelaide no earlier than 1pm Monday,
        or 5pm if you are coming to lunch.
      </p>
    </div>
  </div>

</div>

<div id="tickets" class="well">
  <div class="centre"><i class="fa fa-ticket fa-3x"></i></div>
  <h2>Tickets</h2>
  <p>
    Campers are expected to follow the
    <a href="http://ruby.org.au/code-of-conduct.html">Ruby Australia code of conduct</a>.
    </br>
    Please read the CoC before you purchase your ticket.
    </br>
    </br>
    Tickets cover accomodation,
    food & drinks, as well as transport to and from the airport or CBD.
    </br>
    Prices are in AUD and are GST inclusive.
    </br>
  </p>
  </br>
  <div class="row flex">
    <div class="col-sm-4">
      <ul class="list-group">
        <h4 class="list-group-item list-head centre">Standard</h4>
        <li class="list-group-item centre">
          <b>$290</b>
        </li>
        <li class="list-group-item centre panel-flex">
          For anyone and everyone without a concession.
        </li>
        <li class="list-group-item centre">
          <a href="https://ti.to/ruby-australia/rails-camp-adelaide-2016/en" class="btn" role="button">Buy now</a>
        </li>
      </ul>
    </div><!-- /.col-sm-4 -->

    <div class="col-sm-4">
      <ul class="list-group">
        <h4 class="list-group-item list-head centre">Concession</h4>
        <li class="list-group-item centre">
          <b>$200</b>
        </li>
        <li class="list-group-item centre panel-flex">
          For people with a concession or student card.
        </li>
        <li class="list-group-item centre">
          <a href="https://ti.to/ruby-australia/rails-camp-adelaide-2016/discount/Concession" class="btn " role="button">Buy now</a>
        </li>
      </ul>
    </div><!-- /.col-sm-4 -->

    <div class="col-sm-4">
      <ul class="list-group">
        <h4 class="list-group-item centre list-head">Sponsored</h4>
        <li class="list-group-item centre">
          <b>Free</b>
        </li>
        <li class="list-group-item centre panel-flex">
          For those who can't afford concession tickets. Applications open soon.
        </li>
        <li class="list-group-item centre">
          <a href="application link here" class="btn " role="button">Opening soon</a>
        </li>
      </ul>
    </div><!-- /.col-sm-4 -->
  </div>
  <h3>Extras</h3>
  <p>
    We will be hosting a lunch in the Adelaide hills on Monday, we'd love you to join us.
    </br>
    We'll provide transport to the lunch and back to the CBD or Airport,
    </br>
    but you'll need to purchase your own food and drink.
    </br>
    If you'd like to attend, please make sure you are signed up through ti.to.
    </br>
  </p>
</div>

<div class="well">
  <h2>Sponsors</h2>
  <p>
    We are looking for sponsors!
    </br>
    Please take a look at the Ruby Australia
    <a href="http://ruby.org.au/sponsorship.html">sponsorship prospectus</a>
    and <a href="mailto:railscamp@ruby.org.au">contact us</a> if you are interested.
    </br>
    </br>
  </p>
  <img class="sponsor" src="images/rubyau.png" alt="RubyAU Logo"/>
  </br>
</div>

<div class="well">
  <div class="row flex">
    <div class="col-sm-4 flex-div">
      <div class="centre"><i class="fa fa-users fa-4x centre"></i></div>
    </div>
    <div class="col-sm-8 flex-div">
      <h2>Speakers</h2>
      <p>
        The weekend is open for attendees to present.
        </br>
        If you'd like to give a talk, please <a href="mailto:railscamp@ruby.org.au">contact us</a>.
      </p>
    </div>
  </div>
</div>

<div class="well">
  <div class="row flex">
    <div class="col-sm-4 flex-div contact-fa">
      <div class="centre"><i class="fa fa-envelope fa-5x flex-div"></i></div>
    </div>
    <div class="col-sm-8 flex-div contact-text">
      <h2>Contact</h2>
      <p>
        <b>Email:</b> railscamp@ruby.org.au
        </br>
        </br>
        <a href="https://twitter.com/railscamp_au">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
        <a href="https://rubyau-slack.herokuapp.com">
          <i class="fa fa-slack fa-2x"></i>
        </a>
      </p>
    </div>
  </div>
</div>

<div class="well">
  <h2>
    What to Bring
  </h2>
  <div class="row">
    <div class="col-sm-6">
      <ul class="list-group">
        <h4 class="list-group-item list-head">Essential</h4>
        <li class="list-group-item">Sleeping bag or blanket and sheet</li>
        <li class="list-group-item">Towel</li>
        <li class="list-group-item">Pillow</li>
        <li class="list-group-item">Clothes and shoes for cold weather/possible rain</li>
        <li class="list-group-item">Toiletries and medications</li>
        <li class="list-group-item">Laptop/phone and chargers</li>
        <li class="list-group-item">Any files you would usually get from the internet</li>
      </ul>
    </div><!-- /.col-sm-6 -->

    <div class="col-sm-6">
      <ul class="list-group">
        <h4 class="list-group-item list-head">Optional</h4>
        <li class="list-group-item">Snacks/treats</li>
        <li class="list-group-item">Alcohol of choice</li>
        <li class="list-group-item">Bathers if you’d like to swim in the indoor pool</li>
        <li class="list-group-item">Appropriate clothing for the activity course</li>
        <li class="list-group-item">Board games/deck of cards</li>
        <li class="list-group-item">Thermos/water bottle</li>
      </ul>
    </div><!-- /.col-sm-6 -->

  </div>
</div>

<img src="images/display_yield.png" alt="yield tent" class="yield">

<!-- <div class="row">
  <table class="table">
    <tbody>
      <tr>
        <td><img src="../images/lauren-hennessy.jpg" alt="Lauren" class="img-circle" width="140"></br><p>Lauren</p></td>
        <td>Design is Hard</td>
        <td>@l_k_hennssy</td>
      </tr>
      <tr>
        <td><img src="../images/lauren-hennessy.jpg" alt="Lauren" class="img-circle" width="140"></br><p>Someone Else</p></td>
        <td>JavaScript, just why?</td>
        <td>@nope</td>
      </tr>
      <tr>
        <td><img src="../images/lauren-hennessy.jpg" alt="Lauren" class="img-circle" width="140"></br><p>Another Someone Else</p></td>
        <td>Too many pictures of Lauren</td>
        <td>@cry</td>
      </tr>
    </tbody>
  </table>
</div> -->
