</br>
<div id="sponsor" class="well">
  <h2>Sponsored Ticket Form</h2>
  <p>
    Applications are now closed.
    </br>
    </br>
    If you are waiting on a response, they wil be sent out on Firday the 2nd of May.
    Please respond to offers as quickly as possible so we can sure up numbers and offer places to others should you not be able to attend.
  </p>

<%#
  <form id="sponsorship-form">
    <div class="form-group">
      <label for="name">Full Name*</label>
      <input type="text" minlength="5" class="form-control" id="name" name="name" value="" required/>
    </div>
    <div class="form-group">
      <label for="email">Email*</label><br/>
      <input type="email" class="form-control" id="email" name="email" value="" required/>
    </div>
    <div class="form-group">
      <label for="programming-experience">Please briefly describe your programing experience/background*</label>
      <textarea class="form-control" rows="4" id="programming-experience" name="programming-experince" cols="40" required></textarea>
    </div>
    <div class="form-group">
      <label for="reason-for-application">How will a sponsored ticket help you in your study or career?*</label><br/>
      <textarea class="form-control" rows="4" id="reason-for-application" name="reason-for-application" cols="40" required></textarea>
    </div>
    <div class="form-group">
      <label for="adult">We are unable to accomodate minors at this time, please confirm you are 18 or over.*</label></br>
          <input type="checkbox" id="adult" name="adult" value="yes" required> I am an adult.</input>
    </div>
    <div class="form-group">
      <label for="coc">Are you willing to agree to the <a href="http://ruby.org.au/code-of-conduct.html">Ruby Australia code of conduct</a>?*</label></br>
        <input type="checkbox" id="coc" name="coc" value="yes" required> Yes</input>
    </div>
    <input type="submit" class="btn btn-default" value="Send"/>
  </form>
  <div style='display:none' id='result'></div>
%>
</div>
