</br>
<form id="foo">
  <p><label for="name">Name:</label>
  <input id="name" name="name" type="text" value=""/></p>
  <p><label for="comment">Comment:</label><br/>
  <textarea id="comment" name="comment" cols="40"></textarea></p>
  <p id="result"></p>
  <input type="submit" value="Send"/>
</form>
